<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>書籍一覧</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/theme.css" rel="stylesheet" />
</head>

<body>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>書籍一覧</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No</th>
                    <th>タイトル</th>
                    <th>著者</th>
                    <th>登録日</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${booklist}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${#dates.format(book.registratedAt, 'yyyy/MM/dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
